 @media(max-width: 1900px){
   .burger__menu-wrapper{
     display: none;
   }
  .header{
    .logo-link{
      margin-left: 0;
    }
    .nav{
      margin-right: 0;
      &__menu-dropdown{
        left:-100px;
      }
    }
  }
  .list-box{
    &__list{
      margin-left: 0;
      max-width: 620px;
    }
    &__comment{
      max-width:600px;
      bottom:-149px;
      right:-19px;
    }
    &__img{
      max-width: 650px;
    }
  }
  .services{
    &__inner{
      max-width: 100%;
    }
    &__item{
      margin:0px 25px 50px 25px;
    }
  }
  .clients{
    &__items{
      flex-wrap: wrap;
    }
  }
  .slider{

    &__item-content{
      margin-left: 0;
    }
  }
 }
 @media (max-width:1300px) {
   .top-banner{
     &__content{
       margin: 0 auto;
     }
     &__title{
       font-size: 48px;
       line-height: 56px;
     }
     &__desc{
       font-size: 28px;
       line-height: 32px;
       margin-bottom: 20px;
     }
     &__image{
      display: none;
    }
   }
    .list-box{
      margin-bottom: 100px;
      &__inner{
        flex-wrap: wrap;
        padding-top:50px;
      }
      &__item-title{
        font-size: 26px;
        line-height: 32px;
      }
      &__item-desc{
        font-size: 18px;
        line-height: 22px;
      }
      &__item:not(:last-child){
        margin-bottom: 50px;
      }
      &__aside{
        margin:80px auto;
      }
      &__list{
        margin: 0 auto;
      }
      &__img{
        margin: 0 auto;
      }
      &__comment-text{
        font-size: 14px;
        line-height: 18px;
      }
      &__comment-name{
        font-size: 18px;
        line-height: 22px;
      }
      &__comment-pos{
        font-size: 18px;
        line-height: 24px;
      }
    }
    .services{
      &__header-title{
        font-size: 48px;
        line-height: 58px;
        margin-right: 10px;
      }
      &__header-desc{
        font-size: 18px;
        line-height: 24px;
      }
      &__item{
        margin:0px 7.5px 25px;
      }
    }
    .slider{
      &__inner{
        padding-top:50px;
      }
      &__title{
        font-size: 48px;
        line-height: 56px;
      }
      &__desc{
        font-size: 18px;
        line-height: 22px;
      }
      &__img{
        max-width:500px;
      }
      &__item-content{
        margin-top:0;
        justify-content: center;
      }
      .slick-dots{
        display: flex;
        justify-content: center;
        bottom: 0;
        top:unset;
        left:0;
        right:0;
        li{
          margin-right: 10px;
        }
      }
    }
    .clients{
      padding-bottom:50px;
      &__title{
        font-size: 28px;
        line-height: 32px;
      }
    }
    .form{
      padding-top:50px;
      padding-bottom: 50px;
      &__work-form-title{
        font-size: 48px;
        line-height: 56px;
      }
      &__work-form-btn{
        padding:28px 54px;
      }
    }
    .footer{
      &__inner{
        font-size: 18px;
        line-height: 22px;
      }
      &__social-text{
        margin-right: 15px;
      }
    }
 }
 @media (max-width:900px) {
   .header{
     .nav__menu-item:not(.burger){
       display:none;
     }
     .burger{
       display: flex;
     }
     .burger__menu-wrapper{
       display: flex;
     }
     &__inner{
       flex-wrap: wrap;
     }

   }
   .top-banner{
      &__register-form{
        flex-direction: column;
      }
      .register-form__input{
        width:100%;
      }
      .register-form__btn{
        margin-top:20px;
      }
     }
    .list-box{
      &__img{
        max-width: 90vw;
      }
    }
   .slider{
     &__img{
       display: none !important;
     }
     &__item-content{
       width:100%;
       margin: 0 auto;
     }
   }
 }
 @media (max-width:670px) {

   .footer{
     &__social{
       flex-direction: column;
       text-align: center;
     }
     &__social-text{
      margin-right: 0;
      margin-bottom: 10px;
     }
   }
 }
 @media (max-width:564px) {
   .header{
     .nav__menu-item{
       margin:0 auto;
     }
   }
   .list-box{
     &__comment{
       right:0;
       left:0;
       max-width: 90vw;
       min-width: 300px;
     }
   }
   .services{
     &__header{
       flex-direction: column;
     }
   }
 }
 @media (max-width:460px){
   .header{
     .logo-link{
       margin:0 auto;
     }
     .nav{
       width: 100%;
     }
     .nav__menu{
       justify-content: center;
     }
     .nav__menu-item{
       margin: 0 auto;
     }
   }
   .logo-link{
     min-width: 280px;
   }
   .form{
     &__work-form-input-group{
       grid-template-columns: 1fr;
       grid-template-rows: repeat(2,1fr);
     }
   }
   .footer{
     &__inner{
       flex-wrap: wrap;
       justify-content: center;
       text-align: center;
     }
     &__copyright{
       margin-bottom: 20px;
     }
   }
 }
