// %AnPro-Regular {
//   font-family: 'AnonymousPro-Regular', sans-serif;
//   font-weight: normal;
//   display: swap;
// }

// %AnPro-Bold {
//   font-family: 'AnonymousPro-Bold', sans-serif;
//   font-weight: 700
// }

// %AlGrey-Bold {
//   font-family: 'AlegreyaSC-Bold', sans-serif;
//   font-weight: 700;
// }

// %AlGrey-Regular {
//   font-family: 'AlegreyaSC-Regular', sans-serif;
//   font-weight: normal;
// }

// $blue: #ABD0D3;
// $text: #F2F1ED;
// $background: #3B3B3B;
// $line: #BCB3A9;
%nexa-font{
  font-family: Nexa;
  display: swap;

}
%title-font{
  font-family: Norwester;
  font-weight:400;
  font-style: normal;
}
$blue: #4385F5;
$white: #FFF;
$black: #18140D;
