@import 'vars';
@import 'reset';
@import 'global';
@import 'fonts';
@import 'libs';

// start header
.header{
  margin-bottom:77px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  .nav{
    margin-right:-55px;
  }
  .nav__menu{
    display: flex;
    justify-content: space-around;
    padding-top:57px;
    flex-wrap: wrap;
    &-dropdown{
      display:none;
      position: absolute;
      opacity:0;
      padding-top:50px;
      top:0px;
      left:-55px;
      z-index: 1;
      transition: all .5s ease-in-out;
      &-item{
        min-width: 210px;
      }
      &-item:not(:last-child){
        border-bottom: 1px solid $blue;
      }
      &-link{
        @extend %nexa-font;
        font-weight:300;
        font-size: 18px;
        line-height: 18px;
        color:$white;
        padding:21px 15px 19px 20px;
        background-color: $black;
        width: 100%;
      }
    }
  }
  .nav__menu-item{
    margin-left:86px;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    &:hover{
      .nav__menu-link+.nav__menu-dropdown{
        display:flex;
        flex-direction: column;
        opacity:1;
      }
    }
  }
  
  .nav__menu-link{
    color:$black;
    text-align: center;
    @extend %nexa-font;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    cursor: pointer;
    text-transform: uppercase;
  }
  .burger{
    display:none;
    width:50px;
    height:1px;
    padding-top:10px;
    border-bottom:1px solid $black;
    align-self: center;
    cursor: pointer;
    &::after{
      content:"";
      height:1px;
      background-color: $black;
      position: absolute;
      left:0;
      right:0;
      bottom:10px;
    }
    &::before{
      content:"";
      border-bottom:1px solid $black;
      position: absolute;
      left:0;
      right:0;
      padding-top:10px;
      top:10px;
    }
    &__menu{
      display:flex;
      position: absolute;
      top:30px;
      left:0;
      background-color: $white;
      width:100%;
      flex-direction: column;
      z-index: 99;
      &-item{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding:25px 0;
        border-bottom: 1px solid $black;
        width:100%;
        &:hover{
          .nav__menu-link+.burger__menu-dropdown{
            .nav__menu-dropdown-item{
              max-height:50px;
              opacity:1;
            }
          }
        }
      }
      &-wrapper{
        width:100vw;
        height:100vh;
        position: fixed;
        left:1000px;
        margin-top:50px;
        transition: all .5s ease-in-out;
        display: none;
        background-color: $white;
        &_opened{
          left:0px;
        }
      }
      &-close-btn{
        margin: 0 auto;
        width:34px;
        height:34px;
        background-size: cover;
        display: block;
        background-color: transparent;
        background-image: url(../images/icons/burger-close.svg);
        border:none;
        cursor: pointer;
      }
      &-dropdown{
        display: flex;
        position: relative;
        flex-direction: column;
        width:100%;
        text-align: center;
        overflow: hidden;
        .nav__menu-dropdown-link{
          background-color: $white;
          color:$black;
        }
        .nav__menu-dropdown-item{
          transition: all .5s ease-in-out;
          max-height:0;
          opacity:0;
        }
      }
    }

  }
}
// end header

.top-banner{
  margin-bottom: 73px;
  &__inner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &__content{
    max-width: 700px;
    margin-top:50px;
    display: flex;
    flex-direction: column;
  }
  &__title{
    @extend %title-font;
    font-size: 72px;
    line-height: 86px;
    margin-bottom:10px;
    max-width: 520px;
  }
  &__desc{
    font-size: 36px;
    line-height: 43px;
    font-weight: 400;
    margin-bottom: 56px;
    max-width: 520px;
  }
  &__register-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
  }
  &__image{
    max-width: 777px;
    max-height: 780px;
    object-fit: cover;
  }
  .register-form__input{
    width:40vw;
    padding: 23px 10px 18px 10px;
    @extend %nexa-font;
    font-size: 18px;
    line-height: 21px;
    background: transparent;
    margin-right:19px;
    min-width: 200px;
    max-width: 474px;
    &::placeholder{
      color:#A9A6A6;
    }
  }
  .register-form__btn{
    padding: 21px 54px;
    border:none;
    color:$white;
    background-color: $blue;
    @extend %nexa-font;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    cursor: pointer;
  }
}
.list-box{
  margin-bottom:245px;
  &__inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding-top:88px;
  }
  &__list{
    max-width:742px;
    margin-left:-18px;
  }
  &__aside{
    position: relative;
    margin-top:14px;
    margin-right:75px;
  }
  &__item{
    display:flex;
    flex-direction: row;
    align-items: center;
    &:not(:last-child){
      margin-bottom:160px;
    }
    &-text{
      width:100%;
      display: flex;
      flex-direction: column;
    }
    &-title{
      @extend %title-font;
      color:#000;
      font-size: 36px;
      line-height: 43px;
      margin-bottom:7px;
      text-transform: uppercase;
    }
    &-desc{
      color:#000;
      font-size: 24px;
      line-height: 28px;
    }
    &-icon{
      padding:16px;
      &-wrapper{
        border-radius: 50%;
        background-color: $blue;
        display: inline-block;
        margin-right:30px;
      }
      &.icon-i{
        padding:16px;
      }
      &.icon-tornado{
        padding:17px;
      }
      &.icon-glasses{
        padding:12px;
      }
    }
  }
  &__img{
    max-width:733px;
    border-radius: 14px;
    object-fit: cover;
    max-height: 900px;
  }

  &__comment{
    position: absolute;
    bottom: -190px;
    right:-80px;
    max-width: 689px;
    padding:28px 35px 47px 52px;
    background-color: $white;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.2);
    border-radius: 14px;
    &-text{
      font-weight: 300;
      font-style: italic;
      font-size: 18px;
      line-height: 21px;
      margin-bottom:33px;
    }
    &-name{
      font-weight: 700;
      font-style: normal;
      font-size: 24px;
      line-height: 24px;
    }
    &-pos{
      font-weight: 400;
      font-style: normal;
      font-size: 24px;
      line-height: 28.8px;
    }
  }
}
.services{
  max-width: 1920px;
  margin: 0 auto;
  background-color: $blue;
  color:$white;
  position: relative;
  padding-bottom: 21px;
  &::after{
    content:'';
    position: absolute;
    background-image: url(../images/services-bg.png);
    background-position: top right;
    background-repeat: no-repeat;
    width:781px;
    height:402px;
    left:-325px;
    top:2px;
    display: block;
  }
  &__inner{
    z-index: 1;
    display: flex;
    padding-top:82px;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
  }
  &__header{
    margin-bottom:90px;
    margin-left:25px;
    max-width: 1030px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &-title{
      @extend %title-font;
      font-size: 64px;
      line-height: 76px;
      text-transform: uppercase;
    }
    &-desc{
      font-size: 24px;
      line-height: 29px;
      max-width: 620px;
    }
  }
  &__items{
    width:100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
  }
  &__item{
    padding:27px 18px 0 18px;
    border: 2px solid #282828;
    margin:0px 25px 50px 25px;
    &-icon{
      &-wrapper{
        border-radius: 50%;
        background-color: #282828;
        display: inline-block;
        margin-bottom:16px;
        object-fit: cover;
        max-width: 82px;
        max-height: 82px;
      }
      &_upgrade{
        padding:17.2px 16.5px;
      }
      &_props{
        padding:16px 17px 18px 17px;
      }
      &_call{
        padding:17px 22px 17px 20px;
      }
      &_embed{
        padding:23px 17px 21.5px;
      }
      &_secure{
        padding:16px 18.6px 18px 15.5px;
      }
      &_part{
        padding:17px 18.7px 16px 19px;
      }
    }
    &-title{
      margin-bottom:11px;
      @extend %title-font;
      font-size: 24px;
      line-height: 29px;
    }
    &-desc{
      margin-bottom:78px;
      font-size: 18px;
      line-height: 22.6px;
      font-weight: 400;
      max-width:310px;
      font-weight: 300;
    }
  }
}
.slider{
  background-color: $white;
  &__inner{
    position: relative;
    padding-top:145px;
    padding-bottom:161px;
  }
  &__item{
    display:flex !important;
    flex-direction: row;
    justify-content: space-between;
  }
  &__item-content{
    margin-left:165px;
    display: flex;
    flex-direction: column;
    margin-top:136px;
  }
  &__icon{
    margin-bottom: 21px;
    &-wrapper{
      background-color: #F0EEEE;
      border-radius: 50%;
      display: inline-block;
      align-self: flex-start;
    }
  }
  &__icon_upgrade{
    padding:19px 17px 20px
  }
  &__icon_transaction{
    padding: 22px 17px;
  }
  &__icon_lamp{
    padding: 17px 18px;
  }

  &__title{
    @extend %title-font;
    font-size: 64px;
    line-height: 77px;
    margin-bottom: 14px;
  }
  &__desc{
    max-width: 670px;
    font-size: 24px;
    line-height: 29px;
    padding-right:25px;
  }
  &__img{
    margin-right: 71px;
    object-fit: cover;
    max-width: 948px;
    max-height: 780px;
  }
  .slick-dots{
    position: absolute;
    right:0;
    top:42%;
    bottom: 0;
    align-items: center;
    button{
      background-color: #C4C4C4;
      border-radius: 50%;
      width: 17px;
      height: 17px;
      font-size: 0;
      padding: 0;
      border:none;
      cursor: pointer;
    }
    .slick-active{
      button{
        background-color: $blue;
      }
    }
  }
}
.clients{
  padding-top:190px;
  padding-bottom: 102px;
  &__inner{
    margin: 0 auto;
    text-align: center;
  }
  &__title{
    margin-bottom: 121px;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 43px;
    color:$black;
    font-weight: 400;
  }
  &__items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__item{
    margin:0 50px;
    margin-bottom: 20px;
    width:210px;
    height:86px;
  }
}
.form{
  background-color: #F0EEEE;
  padding-top: 185px;
  padding-bottom: 151px;
  &__work-form{
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__work-form-title{
    @extend %title-font;
    color:$blue;
    font-size: 72px;
    line-height: 86px;
    margin-bottom: 88px;
    &::after{
      content:'';
      bottom:0;
      left:0;
      right:0;
      margin:0 auto;
      margin-top: 26px;
      width:285px;
      height:4px;
      background-color: #282828;
      display: block;
    }
  }
  &__work-form-dropdown{
    width:100%;
    border:none;
    border-bottom:1px solid #717171;
    outline: none;
    color:$blue;
    background: transparent;
    padding: 3px 10px 7px;
    font-family: inherit;
    margin-bottom: 44px;
    & option{
      color:$black;
    }
    &:focus{
      outline: none;
    }
  }
  &__work-form-input-group{
    width:100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:40px;
    margin-bottom:44px;
  }
  &__work-form-input{
    border:none;
    background: transparent;
    border-bottom:1px solid #717171;
    padding: 3px 10px 7px;
    font-family: inherit;
    ::placeholder{
      font-size: 24px;
      color:#918F8F;
      line-height: 29px;
    }
    &:focus{
      outline: none;
    }
  }
  &__work-form-area{
    border:none;
    border-bottom:1px solid #717171;
    width:100%;
    background: transparent;
    resize: vertical;
    color:#918F8F;
    margin-bottom: 88px;
    min-height: 100px;
    padding: 3px 10px 7px;
    &:focus{
      outline: none;
    }
  }
  &__work-form-btn{
    padding:34px 72px;
    background-color: $blue;
    border: none;
    color:#F0EEEE;
    font-size: 24px;
    line-height: 24px;
    @extend %nexa-font;
    font-weight: 700;
    margin: 0 auto;
    cursor: pointer;
  }

}
.footer{
  background-color: $blue;
  padding-top:70px;
  padding-bottom: 59px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#F0EEEE;
    font-size: 24px;
    line-height: 29px;

  }
  &__copyright{
    margin-right: 25px;
  }
  &__social{
    display: flex;
    align-items: center;
  }
  &__social-list{
    display: flex;
    flex-direction: row;
  }
  &__social-text{
    margin-right: 52px;
  }
  &__social-item{
    margin-right:10px;
    display: flex;
  }
  &__social-link{
    width:26px;
    height:26px;
    object-fit: cover;
  }
}
.logo{

  &-link{
    min-width: 311px;
    min-height: 150px;
    object-fit: cover;
    margin-left:13px;
    padding:48px 55px;
    background-color: $blue;
    align-self: flex-start;
    display: inline-block;
  }
}
@import 'media';