doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="css/style.min.css")
    script(defer="defer" src="js/main.min.js")
  body 
    header.header
      .container
        .header__inner
          a(href="#").logo-link
            img(src="./images/logo/logo.png" alt="logo").logo
          nav.nav
            ul.nav__menu
              li.nav__menu-item
                a.nav__menu-link Home          
              li.nav__menu-item
                a.nav__menu-link Home 1          
              li.nav__menu-item 
                a.nav__menu-link Home 2
                ul.nav__menu-dropdown
                  li.nav__menu-dropdown-item
                    a(href="#").nav__menu-dropdown-link Home Sub Field 1          
                  li.nav__menu-dropdown-item
                    a(href="#").nav__menu-dropdown-link Home Sub Field 2          
              li.nav__menu-item 
                a.nav__menu-link Home 3          
              li.nav__menu-item
                a.nav__menu-link Contact us
    .wrapper
      main.main
        section.top-banner
          .container
            .top-banner__inner
              .top-banner__content
                h2.top-banner__title Lorem Ipsum is simply dummy
                p.top-banner__desc Lorem Ipsum is simply dummy
                form.top-banner__register-form
                  input(placeholder="Insert Your Email").register-form__input
                  button.register-form__btn Register
              img.top-banner__image(src="./images/lamp-girl.png", alt="Lamp girl")
        .list-box
          .container
            .list-box__inner
              ul.list-box__list
                li.list-box__item
                  .list-box__item-icon-wrapper
                    img(src="./images/icons/list-box-1.png").list-box__item-icon.icon-i
                  .list-box__item-text
                    h3.list-box__item-title HEADING 1
                    p.list-box__item-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                li.list-box__item
                  .list-box__item-icon-wrapper
                    img(src="./images/icons/list-box-2.png").list-box__item-icon.icon-tornado
                  .list-box__item-text
                    h3.list-box__item-title HEADING 2
                    p.list-box__item-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                li.list-box__item
                  .list-box__item-icon-wrapper
                    img(src="./images/icons/list-box-3.png").list-box__item-icon.icon-glasses
                  .list-box__item-text
                    h3.list-box__item-title HEADING 3
                    p.list-box__item-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              .list-box__aside
                img(src="./images/list-box-image.jpg", alt="").list-box__img
                .list-box__comment
                  p.list-box__comment-text Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                  h5.list-box__comment-name CEO NAME
                  span.list-box__comment-pos President & CEO
        section.services
          .container
            .services__inner
              .services__header
                h3.services__header-title our Services
                p.services__header-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,    
              .services__items
                .services__item
                  .services__item-icon-wrapper
                    img(src="./images/icons/services-1.png", alt="").services__item-icon.services__item-icon_upgrade
                  h4.services__item-title HEADING 5
                  p.services__item-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                .services__item
                  .services__item-icon-wrapper
                    img(src="./images/icons/services-2.png", alt="").services__item-icon.services__item-icon_props
                  h4.services__item-title HEADING 6
                  p.services__item-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                .services__item
                  .services__item-icon-wrapper
                    img(src="./images/icons/services-3.png", alt="").services__item-icon.services__item-icon_call
                  h4.services__item-title HEADING 7
                  p.services__item-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                .services__item
                  .services__item-icon-wrapper
                    img(src="./images/icons/services-4.png", alt="").services__item-icon.services__item-icon_embed
                  h4.services__item-title HEADING 8
                  p.services__item-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                .services__item
                  .services__item-icon-wrapper
                    img(src="./images/icons/services-5.png", alt="").services__item-icon.services__item-icon_secure
                  h4.services__item-title HEADING 9
                  p.services__item-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                .services__item
                  .services__item-icon-wrapper
                    img(src="./images/icons/services-6.png", alt="").services__item-icon.services__item-icon_part
                  h4.services__item-title HEADING 10
                  p.services__item-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        .slider
          .container-fluid
            .slider__inner
              .slider__item
                .slider__item-content
                  .slider__icon-wrapper
                    img(src="./images/icons/slider-1.png", alt="").slider__icon_upgrade
                  h3.slider__title We are lOREM IPSUM
                  p.slider__desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                img(src="./images/slider-1.png", alt="").slider__img
              .slider__item
                .slider__item-content
                  .slider__icon-wrapper
                    img(src="./images/icons/slider-2.png", alt="").slider__icon_transaction
                  h3.slider__title A 360 LOREM IPSUM
                  p.slider__desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                img(src="./images/slider-2.png", alt="").slider__img
              .slider__item
                .slider__item-content
                  .slider__icon-wrapper
                    img(src="./images/icons/slider-3.png", alt="").slider__icon_lamp
                  h3.slider__title We are lOREM IPSUM
                  p.slider__desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                img(src="./images/slider-3.png", alt="").slider__img
        section.clients
          .container-fluid
            .clients__inner
              .clients__title OUR EXCITING CLIENTS
              .clients__items
                .clients__item
                  img(src="./images/clients-1.png", alt="")     
                .clients__item
                  img(src="./images/clients-1.png", alt="")       
                .clients__item
                  img(src="./images/clients-1.png", alt="")       
                .clients__item
                  img(src="./images/clients-1.png", alt="")       
                .clients__item
                  img(src="./images/clients-1.png", alt="")       
                .clients__item
                  img(src="./images/clients-1.png", alt="")
        section.form
          .container
            .form__inner
              form.form__work-form
                h2.form__work-form-title Lets work together
                select.form__work-form-dropdown
                  option(value="" disabled selected hidden) How can we help you?
                  option(value="0") I don't know  
                  option(value="1") I don't know  
                  option(value="2") I don't know  
                  option(value="3") I don't know  
                  option(value="4") I don't know  
                .form__work-form-input-group
                  input(type="text", placeholder="Name*").form__work-form-input               
                  input(type="text", , placeholder="Email*").form__work-form-input                
                .form__work-form-input-group
                  input(type="text", placeholder="Phone*").form__work-form-input               
                  input(type="text", placeholder="Organization*").form__work-form-input
                textarea.form__work-form-area(cols="30", rows="5", placeholder="Message")
                button(type="submit").form__work-form-btn Send             
      footer.footer
        .container
          .footer__inner
            p.footer__copyright © Copyright 2022 | All Rights Reserved
            .footer__social
              span.footer__social-text Follow us:
              ul.footer__social-list
                li.footer__social-item
                  a(href="#").footer__social-link
                    img(src="./images/icons/facebook.png", alt="").footer__social-icon 
                li.footer__social-item
                  a(href="#").footer__social-link
                    img(src="./images/icons/insta.png", alt="").footer__social-icon
                li.footer__social-item
                  a(href="#").footer__social-link
                    img(src="./images/icons/twitter.png", alt="").footer__social-icon
                li.footer__social-item
                  a(href="#").footer__social-link
                    img(src="./images/icons/linkedin.png", alt="").footer__social-icon 