doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="css/style.min.css")
    script(defer="defer" src="main.min.js")
  body 
    header.header
      .logo Logo
      nav.nav
        ul.nav__menu
          li.nav__menu-item
            a.nav__menu-link Home          
          li.nav__menu-item
            a.nav__menu-link Home 1          
          li.nav__menu-item Home 2
            ul.nav__menu-item-dropdown
              li.nav__menu-dropdown-item
                a.nav__menu-dropdown-link           
              li.nav__menu-dropdown-item
                a.nav__menu-dropdown-link           
          li.nav__menu-item 
            a.nav__menu-link Home 3          
          li.nav__menu-item
            a.nav__menu-link Contact us
    .wrapper
      main.main
      footer.footer
